<h1> Fitness Page</h1>
<h2>Blogs</h2>
    <p>Access blogs here.<br>
        <br>
        A authenticated user can comment and like blogs here.
    </p>
<h2>BMI Calculator</h2>
    <p>
        To generate BMI, input age, weight, gender and height.
    </p>
<h2>Calorie Calculator</h2>
<p>To know the number of calories you should intake in a day, input the following:</p>
    <ul>
        <li>Age</li>
        <li>Gender</li>
        <li>Weight</li>
        <li>Height</li>
        <li>Activity</li>
    </ul>
<h2>Generate diet plans</h2>
    <p>Input calories, category and meal type to generate diet plans</p>
    <p>An authenticated user can save diet plans</p>
<h2>Login/register</h2>
    <p>Register and login with all the required fields</p>
    <p>A logged in user can check his/her blogs and diet plans</p>

    <h2>Access all the links from Nav bar</h2>